n8n-workflows/01-vulnerability-scanner.json
{
  "name": "Automated Vulnerability Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Daily CVE Scan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "authentication": "none",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lastModStartDate",
              "value": "={{ $now.minus({ days: 1 }).toISO() }}"
            },
            {
              "name": "lastModEndDate",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch CVE Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse NVD CVE data\nconst items = [];\n\nfor (const item of $input.all()) {\n  const vulnerabilities = item.json.vulnerabilities || [];\n  \n  for (const vuln of vulnerabilities) {\n    const cve = vuln.cve;\n    const cveId = cve.id;\n    const description = cve.descriptions?.find(d => d.lang === 'en')?.value || 'No description';\n    \n    // Get CVSS score\n    let cvssScore = 0;\n    let severity = 'UNKNOWN';\n    \n    if (cve.metrics?.cvssMetricV31) {\n      cvssScore = cve.metrics.cvssMetricV31[0]?.cvssData?.baseScore || 0;\n      severity = cve.metrics.cvssMetricV31[0]?.cvssData?.baseSeverity || 'UNKNOWN';\n    } else if (cve.metrics?.cvssMetricV2) {\n      cvssScore = cve.metrics.cvssMetricV2[0]?.cvssData?.baseScore || 0;\n      severity = cvssScore >= 7 ? 'HIGH' : cvssScore >= 4 ? 'MEDIUM' : 'LOW';\n    }\n    \n    items.push({\n      json: {\n        cve_id: cveId,\n        description: description,\n        cvss_score: cvssScore,\n        severity: severity,\n        published_date: cve.published,\n        last_modified: cve.lastModified,\n        references: cve.references?.map(r => r.url) || []\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "name": "Parse CVE Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.cvss_score }}",
              "operation": "largerEqual",
              "value2": 7.0
            }
          ]
        }
      },
      "name": "Filter Critical/High",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:4000/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3-30b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a security analyst. Analyze CVEs and provide: 1) Severity justification, 2) Attack vectors, 3) Potentially affected systems, 4) Remediation steps. Be concise but thorough.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze {{ $json.cve_id }}:\\n\\nDescription: {{ $json.description }}\\n\\nCVSS Score: {{ $json.cvss_score }}\\n\\nProvide a security analysis.\"\n    }\n  ],\n  \"max_tokens\": 1500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "name": "AI Analysis (LiteLLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI analysis from response\nconst items = [];\n\nfor (const item of $input.all()) {\n  const aiResponse = item.json.choices?.[0]?.message?.content || 'Analysis failed';\n  \n  items.push({\n    json: {\n      ...item.json,\n      ai_analysis: aiResponse,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn items;"
      },
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "=https://192.168.1.100:55000/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": {\n    \"name\": \"n8n-automation\"\n  },\n  \"rule\": {\n    \"level\": {{ $json.cvss_score >= 9 ? 15 : 10 }},\n    \"description\": \"CVE Alert: {{ $json.cve_id }} - {{ $json.severity }}\"\n  },\n  \"data\": {\n    \"cve\": \"{{ $json.cve_id }}\",\n    \"cvss\": \"{{ $json.cvss_score }}\",\n    \"severity\": \"{{ $json.severity }}\",\n    \"analysis\": \"{{ $json.ai_analysis }}\",\n    \"published\": \"{{ $json.published_date }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Post to Wazuh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:3001/api/annotations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer YOUR_GRAFANA_API_KEY\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"cve\", \"{{ $json.severity }}\", \"automated\"],\n  \"text\": \"{{ $json.cve_id }}: CVSS {{ $json.cvss_score }} - {{ $json.ai_analysis.substring(0, 200) }}...\",\n  \"time\": {{ Date.now() }}\n}",
        "options": {}
      },
      "name": "Update Grafana Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "subject": "=Critical CVE Alert: {{ $json.cve_id }}",
        "message": "=CVE ID: {{ $json.cve_id }}\\nSeverity: {{ $json.severity }}\\nCVSS Score: {{ $json.cvss_score }}\\n\\nDescription:\\n{{ $json.description }}\\n\\nAI Analysis:\\n{{ $json.ai_analysis }}\\n\\nReferences:\\n{{ $json.references.join('\\n') }}",
        "options": {}
      },
      "name": "Email Security Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "content": "## Automated Vulnerability Scanner\\n\\n**Purpose:** Daily CVE monitoring with AI-powered analysis\\n\\n**Flow:**\\n1. Fetch CVEs from NVD (last 24 hours)\\n2. Filter for Critical/High severity\\n3. AI analysis via Local LiteLLM\\n4. Post alerts to Wazuh\\n5. Create Grafana annotations\\n6. Email security team\\n\\n**Configuration Required:**\\n- Update IP: 192.168.1.100 → your main PC IP\\n- Add Grafana API key\\n- Configure email credentials\\n- Add LiteLLM credential (OpenAI type)\\n- Add Wazuh API token",
        "height": 400,
        "width": 300
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 460]
    }
  ],
  "connections": {
    "Daily CVE Scan": {
      "main": [
        [
          {
            "node": "Fetch CVE Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CVE Feed": {
      "main": [
        [
          {
            "node": "Parse CVE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CVE Data": {
      "main": [
        [
          {
            "node": "Filter Critical/High",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical/High": {
      "main": [
        [
          {
            "node": "AI Analysis (LiteLLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis (LiteLLM)": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Post to Wazuh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Wazuh": {
      "main": [
        [
          {
            "node": "Update Grafana Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Grafana Dashboard": {
      "main": [
        [
          {
            "node": "Email Security Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["security", "automation", "cve", "vulnerability"],
  "triggerCount": 1,
  "updatedAt": "2025-12-05T00:00:00.000Z",
  "versionId": "1.0"
}
