n8n-workflows/03-job-application-tracker.json
{
  "name": "Job Application Tracker & Resume Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Check Jobs Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.indeed.com/ads/apisearch",
        "authentication": "none",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "publisher",
              "value": "YOUR_INDEED_PUBLISHER_ID"
            },
            {
              "name": "q",
              "value": "cybersecurity OR \"security analyst\" OR \"security engineer\""
            },
            {
              "name": "l",
              "value": "Remote"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "fromage",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Indeed Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse job listings\nconst items = [];\n\nfor (const item of $input.all()) {\n  const results = item.json.results || [];\n  \n  for (const job of results) {\n    items.push({\n      json: {\n        job_key: job.jobkey,\n        title: job.jobtitle,\n        company: job.company,\n        location: job.formattedLocation || job.city + ', ' + job.state,\n        description: job.snippet,\n        url: job.url,\n        date_posted: job.date,\n        salary: job.formattedSalary || 'Not specified',\n        source: 'Indeed'\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "name": "Parse Job Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:3000/api/applications",
        "authentication": "none",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Applied,Interviewing"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Existing Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 500]
    },
    {
      "parameters": {
        "jsCode": "// Filter out jobs already applied to\nconst existingApps = $input.item(0, 0).json.applications || [];\nconst existingJobKeys = existingApps.map(app => app.job_key);\n\nconst newJobs = [];\n\nfor (const item of $input.all()) {\n  if (!existingJobKeys.includes(item.json.job_key)) {\n    newJobs.push(item);\n  }\n}\n\nreturn newJobs;"
      },
      "name": "Filter New Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:2222/master_resume.json",
        "authentication": "none",
        "method": "GET",
        "options": {}
      },
      "name": "Load Master Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:4000/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional resume writer specializing in cybersecurity careers. Your task is to tailor a candidate's resume to match specific job descriptions while maintaining authenticity. Focus on:\\n1. Highlighting relevant experience and skills\\n2. Using keywords from the job description\\n3. Emphasizing achievements that align with requirements\\n4. Maintaining professional tone and format\\n\\nProvide ONLY the tailored Professional Summary and Key Skills sections. Do not modify employment history.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Job Title: {{ $json.title }}\\nCompany: {{ $json.company }}\\nDescription: {{ $json.description }}\\n\\nCandidate Profile:\\nName: Latrent Childs\\nCurrent Role: Integration Specialist\\nCertifications: CompTIA Security+\\nExperience: SFTP integration, security automation, API development\\n\\nTailor the Professional Summary and Key Skills for this specific job.\"\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "name": "AI Resume Tailoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract tailored resume sections\nconst items = [];\n\nfor (const item of $input.all()) {\n  const tailoredContent = item.json.choices?.[0]?.message?.content || '';\n  \n  items.push({\n    json: {\n      ...item.json,\n      tailored_summary: tailoredContent,\n      tailored_date: new Date().toISOString()\n    }\n  });\n}\n\nreturn items;"
      },
      "name": "Extract Tailored Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:3000/api/applications",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_key\": \"{{ $json.job_key }}\",\n  \"company\": \"{{ $json.company }}\",\n  \"position\": \"{{ $json.title }}\",\n  \"location\": \"{{ $json.location }}\",\n  \"status\": \"Interested\",\n  \"source\": \"{{ $json.source }}\",\n  \"job_url\": \"{{ $json.url }}\",\n  \"salary\": \"{{ $json.salary }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"tailored_resume\": \"{{ $json.tailored_summary }}\",\n  \"found_date\": \"{{ $now.toISO() }}\",\n  \"applied_date\": null\n}",
        "options": {}
      },
      "name": "Save to ResumeWonder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "host": "192.168.1.100",
        "port": 2222,
        "path": "=/uploads/{{ $json.company.replace(/\\s+/g, '_') }}_{{ $now.toFormat('yyyy-MM-dd') }}.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "name": "Upload via SFTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.100:3001/api/annotations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"job-application\", \"{{ $json.company }}\", \"automated\"],\n  \"text\": \"New opportunity: {{ $json.title }} at {{ $json.company }}\",\n  \"time\": {{ Date.now() }}\n}",
        "options": {}
      },
      "name": "Update Grafana Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "subject": "=New Job Match: {{ $json.title }} at {{ $json.company }}",
        "message": "=A new job opportunity matching your profile has been found:\\n\\n**Position:** {{ $json.title }}\\n**Company:** {{ $json.company }}\\n**Location:** {{ $json.location }}\\n**Salary:** {{ $json.salary }}\\n**URL:** {{ $json.url }}\\n\\n**Description:**\\n{{ $json.description }}\\n\\n**AI-Tailored Summary:**\\n{{ $json.tailored_summary }}\\n\\n**Status:** Saved to ResumeWonder\\n**Next Steps:** Review and apply if interested\\n\\n---\\nAutomated by n8n Job Tracker",
        "options": {}
      },
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "content": "## Job Application Tracker\\n\\n**Purpose:** Automated job discovery and resume tailoring\\n\\n**Flow:**\\n1. Fetch jobs from Indeed (every 6 hours)\\n2. Parse job listings\\n3. Filter out already applied jobs\\n4. AI-tailor resume for each job\\n5. Save to ResumeWonder database\\n6. Upload tailored resume via SFTP\\n7. Update Grafana dashboard\\n8. Email notification\\n\\n**Configuration:**\\n- Add Indeed Publisher ID\\n- Update IP addresses\\n- Configure SFTP credentials\\n- Add ResumeWonder API endpoint",
        "height": 400,
        "width": 300
      },
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 460]
    }
  ],
  "connections": {
    "Check Jobs Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Indeed Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Indeed Jobs": {
      "main": [
        [
          {
            "node": "Parse Job Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Listings": {
      "main": [
        [
          {
            "node": "Filter New Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Jobs": {
      "main": [
        [
          {
            "node": "Load Master Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Master Resume": {
      "main": [
        [
          {
            "node": "AI Resume Tailoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Tailoring": {
      "main": [
        [
          {
            "node": "Extract Tailored Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tailored Content": {
      "main": [
        [
          {
            "node": "Save to ResumeWonder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to ResumeWonder": {
      "main": [
        [
          {
            "node": "Upload via SFTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload via SFTP": {
      "main": [
        [
          {
            "node": "Update Grafana Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Grafana Tracker": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["career", "automation", "resume", "jobs"],
  "triggerCount": 1,
  "updatedAt": "2025-12-05T00:00:00.000Z",
  "versionId": "1.0"
}
